h1{
    text-align: center;
    font-size: 65px;
    color: rgb(90, 89, 89);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}



p{
    font-size: 35px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}