h2{
    color: blue;
    background-color:rgb(88, 167, 42);
    text-align: center;
}

h1{
    background-color: #7fff00;
    color: #000;
    text-align: center;
}
h3{
    text-align: center;
    background-color: #b214de;
    color: #22ed07;
    
}
h4{
    background-color: #b214de ;
    color:#7fff00 ;
    text-align: center;
}