h1{
    color: red;
    background-color: rgb(79, 240, 16);
    outline: 5px black solid;
    margin: 30px;
    outline-offset: 5px;
}

.outline{
    width: 150px;
    height: 130px;
    background-color: blue;
    margin: 70px;
    outline-width: 10px;
    outline-color: red;
    outline-style: solid;
    outline-offset: 30px;
}